AcademicPerformanceUI/WebFormsMsMqClient/Connected Services/AcademicService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CreateTrain">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Train" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTrain">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updatedTrain" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveTrain">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TrainId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Cart" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updatedCart" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CartId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSiG">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SiG" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSiG">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updatedSiG" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveSiG">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SiGId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>